.navbar {
  background-color: #000000b0;
  z-index: 999;
}
.navbar-brand img {
  height: 32px;
}
.nav-link:hover {
  color: #e50914 !important;
}

.dropdown-menu {
  background-color: #000000b0;
  border: none;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #e50914;
  color: white;
}

.navbar-nav .nav-item {
  margin-left: 15px;
}

.navbar .nav-link > svg {
  vertical-align: middle;
}
